<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<script th:inline="javascript">
    /*<![CDATA[*/

      //setup dialog params
      function setDlgParams(params, callback) {

        const res = {
          success:       /*[[#{dataset.download.success}]]*/      'ok',
          error:         /*[[#{dataset.download.error}]]*/        'error'
        }
            controls.spinBtn('fa-download', '.download');

            const url='/action/s3dataset/download';
            console.log(params)

            $.ajax({
              type: 'POST',
              url: url,
              cache: false,
              contentType: 'application/json',
              processData: true,
              data: JSON.stringify(params),
              success: function (data) {
                    console.log(data);
                    data.fileUrls.forEach(function(item) {
                        $('#urlContainer').append('<p>' + item.prefix + item.url.substring(item.url.lastIndexOf('/'), item.url.indexOf('?')) + '</p>');
                    });
                    downloadAndZip(data);
                    controls.unspinBtn('fa-download', '.download');
                    controls.messageShow(MSG_OK, 5000, res.success);
                    controls.dlgClose('dlg-zip');
                    callback();
              },
              error: function (error) {
                controls.unspinBtn('fa-save', '.save');
                controls.messageShow(MSG_ERROR, 25000, res.error+'<br><pre>'+error.status+', '+error.message+'</pre>');
              }
            })
      }
</script>

<!-- Modal -->
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style='justify-content: flex-start;'>
            <button type="button" class='btn px-2 py-1' style='border: none; font-size: 18px;' data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true"><b>&#x2329;</b></span>
            </button>
            <h5 class="modal-title" style='margin-left: 10px; margin-top: 5px;' th:text="#{dataset.singular}"></h5>
        </div>
        <div class="modal-body">
            <div class="row input-group pt-1 m-0 align-middle">
                <div id="urlContainer" class="col-sm-12 col-md-12 mb-2 px-0">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-fixed cancel" data-dismiss="modal">
                <i class='fa-solid fa-xmark'></i>
                <span th:text="#{button.close}"></span>
            </button>
        </div>
    </div>
</div>
