<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<script th:inline="javascript">
    /*<![CDATA[*/

      //setup dialog params
      function setDlgParams(params, callback) {



        $('.download').click(function() {
            controls.spinBtn('fa-download', '.download');


            console.log(params)


            return false;
        });
      }
</script>

<!-- Modal -->
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style='justify-content: flex-start;'>
            <button type="button" class='btn px-2 py-1' style='border: none; font-size: 18px;' data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true"><b>&#x2329;</b></span>
            </button>
            <h5 class="modal-title" style='margin-left: 10px; margin-top: 5px;'>File</h5>
        </div>
        <div class="modal-body">
            <div class="row input-group pt-1 m-0 align-middle">
                <div id="urlContainer" class="col-sm-12 col-md-12 mb-2 px-0">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-fixed cancel" data-dismiss="modal">
                <i class='fa-solid fa-xmark'></i>
                <span th:text="#{button.cancel}"></span>
            </button>
            <button type="button" class="btn btn-primary btn-flash download">
                <i class='fa-solid fa-download'></i>
                <span th:text="#{button.download}"></span>
            </button>
        </div>
    </div>
</div>
