<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>
<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 p-5">
            <form action="#" class="form-floating mb-3" method="POST"
                  th:action="@{/registration/dataset}"
                  th:object="${dataset}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{dataset.form_title}">Založení datasetu</legend>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{entity.acronym}">Akronym</strong>
                        </span>
                        <input aria-label="Acronym" class="form-control" maxlength="16" pattern="[a-zA-Z0-9\-]+"
                               required
                               th:field="*{acronym}"
                               title="Vlož akronym datasetu. Použij pouze latinku, číslice nebo krátkou pomlčku.&#13;&#10;Insert dataset acronym. Only Latin characters, numbers and hyphens."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4">
                            <strong th:text="#{resource.singular}">Zdroj</strong>
                        </span>
                        <select aria-label="Resource" class="form-select" required th:field="*{resource}">
                            <option th:text="#{form.select_option}" value="">-- vyber z nabídky --</option>
                            <option th:each="resource : ${loadedResources}"
                                    th:text="${resource.nameEn}" th:value="${resource.id}"
                                    title="Vyber zdroj.&#13;Choose resource.">
                                Skoda auto a.s.
                            </option>
                        </select>
                        <a class="btn btn-outline-secondary" href="#" role="button"
                           th:href="@{/registration/resource}">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.czech_name}">
                            Český název datasetu
                        </span>
                        <input aria-label="Czech name" class="form-control" maxlength="255" required
                               th:field="*{nameCZ}"
                               title="Vyplň název datasetu v českém jazyce.&#13;&#10;Insert name of the dataset in Czech."
                               type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{entity.english_name}">
                            English name of dataset
                        </span>
                        <input aria-label="English name" class="form-control" maxlength="255" required
                               th:field="*{nameEN}"
                               title="Vyplň název datasetu v anglickém jazyce.&#13;&#10;Insert name of the dataset in English."
                               type="text">
                    </div>
                </fieldset>
                <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                    <button class="btn btn-primary" th:text="#{button.create}" type="submit">
                        Založit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
