<footer class="mt-auto" th:fragment="footer" xmlns:th="https://www.thymeleaf.org">
    <div class="text-center p-4">
        <span class="text-muted">&copy; 2023-2024 TUL, CESNET (ver240409)</span>
    </div>
    <div class='toasters'></div>
</footer>