<head th:fragment="header" xmlns:th="https://www.thymeleaf.org">

    <title>S3PointBrowser</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta th:content="#{meta.description}" name="description">
    <meta th:content="#{meta.keywords}" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/icons/favicon.ico}" rel="icon">
    <link th:href="@{/icons/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Plugins CSS -->
    <link th:href="@{/libs/bootstrap/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/libs/jquery/jquery-ui.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/libs/fontawesome/all.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/libs/paramquery/pqgrid.dev.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/libs/paramquery/themes/bootstrap/pqgrid.css}" type="text/css" rel="stylesheet"/>

    <!-- Plugins JS -->
    <script th:src="@{/libs/jquery/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/libs/jquery/jquery-ui.js}" type="application/javascript"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}" type="application/javascript"></script>
    <script th:src="@{/libs/paramquery/pqgrid.dev.js}" type="application/javascript"></script>
    <script th:src="@{/libs/paramquery/pqTouch/pqtouch.dev.js}" type="application/javascript"></script>
    <script th:src="@{/libs/paramquery/localize/pq-localize-cs.js}" type="application/javascript"></script>
    <script th:src="@{/libs/paramquery/localize/pq-localize-en.js}" type="application/javascript"></script>
    <script th:src="@{/libs/paramquery/jsZip-2.5.0/jszip.min.js}" type="application/javascript"></script>
    <script th:src="@{/libs/paramquery/fileSaver/FileSaver.min.js}" type="application/javascript"></script>

    <!-- Application CSS & JS -->
    <link th:href="@{/css/app.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/grids.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/_s3point.js}" type="application/javascript"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

          const cons = {
            ctx: /*[[@{/}]]*/ '/s3point',
          }

          const controls = new DControl();

        /*]]>*/
    </script>

</head>
