<nav id='navbarControl' class='navbar navbar-expand-md navbar-togglable navbar-light'
     th:fragment="navigation(menu)" xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class='progress fixed-top' style='display: none; height: 2px; z-index: 2000;'>
        <div class='progress-bar' role='progressbar' style='width: 0%;' aria-valuenow='0' aria-valuemin='0'
             aria-valuemax='100'></div>
    </div>
    <div class='container d-flex align-items-start justify-content-start'>
        <div class='d-inline float-left' style='margin-top: 8px;'>
            <a class='navbar-brand' href='#' th:href="@{/}" th:title="#{menu.back}"><b>S3</b><font
                    style='color: #5948ad;'>Point</font></a>
        </div>

        <div style='margin-top: 8px; float: right; margin-left: auto;'>

            <ul class='navbar-right list-inline d-inline-flex mt-2 mb-1'>
                <li class='nav-item' sec:authorize="isAnonymous()">
                    <form class='text-center' th:action="@{/saml2/authenticate/ddr}">
                        <button class='nav-link px-3' style='border: none;' th:text="#{button.login}"
                                type='submit'></button>
                    </form>
                </li>

                <li class='nav-item mr-1' sec:authorize="isAuthenticated()">
                    <a class='nav-link' th:href="@{/list/alerts}">
                    <span class='far fa-bell mt-1 position-relative' style='font-size: 16pt;'>
                    <span class='badge rounded-pill bg-danger alert-badge'>
                        9+
                    </span>
                    </span>
                    </a>
                </li>

                <li class='nav-item dropdown' sec:authorize="isAuthenticated()">
                    <a class='nav-link dropdown-toggle px-1 pl-2' href='#' id='dropdownUser' role='button'
                       data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                        <!--img th:src='${user.picture}' style='height: 22pt; border-radius: 50%;' referrerpolicy='no-referrer'/>-->
                        <span class='far fa-user mt-1' style='font-size: 16pt;'></span>
                    </a>

                    <div class='dropdown-menu dropdown-menu-right shadow' aria-labelledby='dropdownUser'>
                        <a class='dropdown-header pt-2' th:text="${#authentication.name}"></a>
                        <hr class='dropdown-divider'>
                        <!--            <a class='dropdown-item' th:href="@{/detail/user/{userEmail}(userEmail=${#authentication.name})}" th:text="#{profile.view}"></a>-->
                        <a id='dlg-user-item' class='dropdown-item' href='#' th:text="#{profile.view}"></a>
                        <hr class='dropdown-divider'>
                        <form action='#' class='form-floating' method='POST' th:action="@{/logout}">
                            <button class='dropdown-item' th:text="#{button.logout}" type='submit'></button>
                        </form>
                    </div>
                </li>

                <li class='nav-item dropdown' sec:authorize="isAnonymous()">
                    <a class='nav-link dropdown-toggle px-1' href='#' id='dropdownLanguages' role='button'
                       data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                        <span th:text="__${#locale.language}__"></span>
                    </a>
                    <ul class='dropdown-menu dropdown-menu-right shadow' style='max-width: 80px;'
                        aria-labelledby='dropdownLanguages'>
                        <li th:unless="__${#locale.language}__ == 'cs'">
                            <a class='dropdown-item'
                               th:href="${@urlBuilder.replaceQueryParam('lang', 'cs').toUriString()}">cs</a>
                        </li>
                        <li th:unless="__${#locale.language}__ == 'en'">
                            <a class='dropdown-item'
                               th:href="${@urlBuilder.replaceQueryParam('lang', 'en').toUriString()}">en</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

          //highlight current menu item
          $(/*[[${menu}]]*/).addClass('menu-item-active');

          /*[# sec:authorize="isAuthenticated()"]*/
          //load number of user alerts
          $.ajax({
            type: 'GET',
            url: /*[[@{/user/alert/count}]]*/ '/user/alert/count',
            async: true,
            success: function (result) {
              if (result) {
                $('.alert-badge').text(result).show();
              }
            },
            error: function (error) {
              controls.messageShow(MSG_ERROR, 25000, 'error loading alerts');
            }
          });
          /*[/]*/

          //highlight current menu item//
          $('#dlg-user-item').on('click', function() {
            const path=/*[[${#authentication.name}]]*/ '';
            controls.dlgOpen('dlg-user', '/'+path, {}, function() {
              console.log('saved');
            })
          })

        /*]]>*/
    </script>
</nav>
