/* Apply styles to the form container */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style the heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Apply styles to the input fields */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Change button color on hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style error message */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

/* Style header */
nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}
