pre {
  white-space: pre-wrap;
}
.ui-widget-header {
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
    background: #fff;
    color: #333333;
    font-weight: bold;
}
.ui-dialog-title {
	margin-left: 2em !important;
}
.ui-dialog-titlebar-close {
	left: 0.3em !important;
}

.fa-ddr {
  --fa-secondary-opacity: 1;
  --fa-primary-color: #5948ad;
  --fa-secondary-color: rgb(108, 108, 108);
}
.navbar-dark .logo_for_dark {
  display: inline-block;
}

.navbar-dark .logo_for_light {
  display: none;
}

.navbar-light .logo_for_light {
  display: block;
  float: right;
}

.navbar-light .logo_for_dark {
  display: none;
}

.navbar-nav .nav-link:hover {
  background-color: #5948ad !important;
  color: #ffffff !important;
}

.btn.btn-outline-primary {
  background-color: #ccc !important;
  border: 1px solid #5948ad !important;
  color: #5948ad !important;
}

.btn.btn-outline-primary:hover {
  background-color: #5948ad !important;
  color: #bbb !important;
}

.btn.btn-outline-secondary {
  border: 1px solid transparent !important;
}
.btn.btn-outline-secondary:hover {
  border: 1px solid #999 !important;
  color: #5948ad !important;
}

.btn.btn-outline-secondary.disabled:hover {
  border: 1px solid #333 !important;
  color: #333 !important;
  cursor: default;
}

.btn-fixed {
	min-width: 160px;
	padding: 0.5rem;
	height: 2.65rem;
}

.btn-icon {
	margin-right: 12px;
	font-size: 14px !important;
	font-family: "Arial", "Font Awesome 6 Free" !important;
}

.btn-input {
  width: 2.75rem; 
  height: 2.64rem;
}

.btn-grid {
	width: 1.75rem;
	height: 1.75rem;
	padding: 1px;
	border: none;
	/*box-shadow: 0px 0px 6px 6px lightGray;*/
}

.btn-big {
  width: 2.75rem;
  height: 2.75rem;
  padding: 1px;
  border: none;
  /*box-shadow: 0px 0px 6px 6px lightGray;*/
}

.btn-transparent {
	opacity: 0.75; 
}

.btn-flash {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.btn-flash:before{
  content: " ";
  display: block;
  width: 200px;
  height: 80px;
  background: rgba(255, 255, 255, .4);
  position: absolute;
  top: -10px;
  left: -200px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;  
}

.btn-flash:hover:before{
  margin-left: 300%;
}

.modal.fade.modal-right .modal-dialog {
  transform: translate(125%, 0px);
  transition-duration: 200ms;
  margin: 0 auto 0 auto;
}

.modal.show.modal-right .modal-dialog {
  transform: none;
}

.dlg-full {
	z-index: 2000;
}

.toasters {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 3000;
}

.toast {
	width: 300px; 
	background: lightgray; 
}

.alert-badge {
  position: absolute;
  margin-left: -5px;
  padding-top: 3px;
  top: -5px;
  font-size: 7pt;
  width: 15px;
  height: 15px;
  display: none;
}

.tri-state {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  color: #5948ad;
}  