<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<section class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-6 p-5">
            <div class="alert alert-warning mx-3">
                <span><strong th:text="#{error.error}">Co se stalo</strong></span><br>
                <span th:text="${error}">The requested page was not found on the server.</span><br>
                <span><strong th:text="#{error.reason}">Proč se to stalo</strong></span><br>
                <span th:text="${reason}">You misspelled URL or there is wrong link on previous page.</span><br>
                <span><strong th:text="#{error.solution}">Co dělat</strong></span><br>
                <span th:text="${solution}">Check your URL, try again and if problem persist,
                    contact admin with error description.</span><br>
            </div>
        </div>
    </div>
</section>
</body>
</html>
