<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>

<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<main class="form-signin">
<form th:action="@{/login}" method="post">
    <img class="mb-2 rounded mx-auto d-block" th:src="@{/icons/apple-touch-icon.png}" alt="appLogo" width="55" height="55">
    <h1 class="h2 mb-3 fw-normal text-center">Přihlášení uživatele</h1>
    <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>

    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="username" name="username" placeholder="name@tul.cz">
      <label for="username">Email:</label>
    </div>
    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="password" name="password" placeholder="1123">
      <label for="password">Card ID:</label>
    </div>
    <p class="mb-3 text-center text-muted">
        <span th:text="#{signin.login.redirect}"></span>
        <a class="fw-bold" th:text="#{signin.login.link}" th:href="@{/saml2/authenticate/ddr}"></a>
    </p>
    <button class="w-100 btn btn-md btn-primary" th:text="#{signin.button.value}" value="Login" type="submit"></button>
</form>
</main>
</body>
</html>
