<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"><title>Placeholder</title></head>

<body>
<nav th:replace="~{fragments/navigation :: navigation(null)}"></nav>
<div class="container">
    <div class="row p-3 g-2 justify-content-center">
        <div class="col col-md-8 col-xl-7  p-5 ">
            <form action="#" class="form-floating mb-3"
                  method="POST"
                  th:action="@{/modification/{entity}/{entityId}/addUser(entity=${entity}, entityId=${entityId}, entityAcronym=${entityAcronym})}"
                  th:object="${userToAdd}">
                <div th:replace="~{fragments/alert :: alert}">
                    <span>Alert</span>
                </div>
                <fieldset>
                    <legend th:text="#{user.add} + ' ' + #{__${entity}__.dative}">Přidání uživatele k datasetu</legend>
                    <div class="input-group mb-3">
                        <span class="input-group-text col-lg-3 col-sm-4" th:text="#{user.singular}">
                            Uživatel
                        </span>
                        <select aria-label="Operator" class="form-control form-select custom-select"
                                required th:field="*{email}">
                            <option th:each="loadedUser : ${loadedUsers}"
                                    th:text="${loadedUser.email}" th:value="${loadedUser.email}">
                                pepa@tul.cz
                            </option>
                        </select>
                    </div>
                </fieldset>
                <div class="d-grid gap-2 mt-4 col-md-6 mx-auto">
                    <button class="btn btn-primary" th:text="#{button.add}" type="submit">
                        Přidat
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="mt-auto" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>